	<p >
	    <img src="<%= url_for :controller => "reportes", :action=> "grafica" %>" style="border:1px solid #aabcca;" />
	</p>

	<p >
	    <img src="<%= url_for :controller => "reportes", :action=> "grafica_2" %>" style="border:1px solid #aabcca;" />
	</p>
	
	<p>
		<%= link_to "Global por Mes", :controller => "reportes",:action => "reporte_xls" %>
	</p>
	<p>
		<%= link_to "Detalle estudios", :controller => "reportes",:action => "reporte_2_xls" %>
	</p>