<h1>Bienvenido a American Neurolab</h1>
<br />
<br />
<h4>Estimado <%= @doctor.nombre_completo %>, </h4>
<br />



Para acceder a la aplicaci&oacute;n realiza lo siguiente:<br />
<br />
<p>Ingresa a <a href="http://laboratorio.gotdns.com"> American Neurolab Webadmin </a> 
  donde podr&aacute;s actualizar tu informaci&oacute;n,<br> referenciar pacientes as&iacute; como revisar su status y consultar tus honorarios.</p>

Los datos para ingresar son:<br />
<br />

usuario: <%= @doctor.usuario.nombre %><br />

contrase&ntilde;a:</h5> <%= @password %>
<br />
<br />

Gracias.




