<h1>Bienvenido a American Neurolab</h1>
<br />
<br />
<h4>Estimado <%= @doctor.nombre_completo %>, </h4>
<br />



Para acceder a la aplicaci&oacute;n realiza lo siguiente:<br />
<br />
<p>Ingresa a <a href="http://laboratorio.gotdns.com"> American Neurolab Webadmin </a> (<href="http://laboratorio.gotdns.com">)
  donde podr&aacute;s actualizar tu informaci&oacute;n,<br> referenciar pacientes, y poder darle seguimiento a su estudio
adem&aacute;as de consultar sus honorarios.</p>

Los datos para ingresar son:<br />
<br />

usuario: <%= @doctor.usuario.login %><br />

contrase&ntilde;a: <%= @password %>
<br />
<br />

Gracias.




