<p>
La cita fue creada exitosamente para <br />

<%= Paciente.find(params[:paciente]).nombre_completo %>
</p>
<div id="email">
<% if Consulta.find(params[:consulta]).cita.confirma_valet.nil? %>
<%= link_to "Envía Correo", :controller => "lab",:action => 'envia_info', :id => params[:consulta] %>
<% end %>
</div>
<br />
<br /><%= link_to("Paciente", :controller => "pacientes",:action => 'show',:id => params[:paciente] ) %> | <%= link_to("Home", :controller => "lab") %>