<div>
	<h3>Escoge una vista:</h3><br />
	<%= link_to 'Mes anterior', :action => "pago_mes",:id => params[:id],:flag => 1 %> | 
	<%= link_to 'Mes actual', :action => "pago_mes",:id => params[:id] %>

	
</div>

<div id="honorarios"></div>

</div>