<div>
	<h3>Escoge una vista:</h3><br />
	
	<%# link_to 'Por Dia', :action => "pago_dia",:id => params[:id]  %><br />
	<%= link_to 'Por Semana', :action => "pago_semana",:id => params[:id] %><br />
	<%= link_to 'Por Mes', :action => "pago_mes",:id => params[:id] %><br />
	
</div>

<div id="honorarios"></div>

</div>