<ul id="todo-list"> 
     <li><%= link_to recepcion.paciente.nombre_completo, :controller => 'pacientes',:action => 'show',:id => recepcion.paciente_id %>
</li>
 <%= Estudio.find(recepcion.consulta.estudio_id).tipo_estudio %>
a las <%= l recepcion.fecha_hora, :format => ('%H:%M') %> hrs. 
	<div id="status">Estado: <%= recepcion.status.humanize %></div>

</ul>		