<div class='top'>
	<h1>Editando Regla</h1>
</div>
<div class='body'>
<div class='center'>
	
<% form_tag :action => 'update_regla' do %>
Cubiculo: <%=h @horario.cubiculo %>		
<%= render :partial => 'rule_form' %>

<div align='center'><%= submit_tag "Actualizar" %></div>
<% end %>

</div>
</div>