<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
<head> 
	<title>Bienvenida</title> 
	<%= stylesheet_link_tag "webadmin", :media => "all" %> 
	
</head> 
<body id="store"> 

<div class="logo">
<%= image_tag("logo.jpg",:size => "295x205") %> 	
</div>



	<div id="main"> 
	<p class="notice"><%= flash[:notice] %></p>
	<%= yield :layout %> 
</div> 
</div> 
</body> 
</html> 
